@charset "utf-8";

body{
    height: 300vh;
    font-family: "Noto Sans KR";
}
.container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
    
}

.bg-gray{
    background-color: rgb(238, 237, 237) !important;
}

.bg-orange{
    background-color: orange !important;
    /* !important 없으면 약하니까 색을 무조건 넣기 위해서는!!!!!! 필요함 */
}
.bg-sky{
    background-color: skyblue !important;
}

.hd{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999;
}
.menuWrap{
    /* logo 정렬위해서인가? */
    display: flex;
    justify-content: space-between;
    /* height: 70px;  */
    padding: 10px 0;
}

.menuWrap .gnb ul {display: flex;}
.menuWrap .gnb li{width: 150px; height: 50px;}
.menuWrap .gnb a{
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.menuWrap .gnb a:hover{
    background-color: white;
}
.menuWrap .sns {
    display: flex;
    align-self: center;
    gap: 10px;
 
}

.menuWrap .sns li{
    width: 40px; height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #00f;
    color: white;

}

.visual{
    height: 100vh;
    min-height: 600px;
    margin-bottom: 50px;
    /* margin 쓰는게 더 안전하다 */
}

.top{
    width: 100px; height: 100px;
    position: fixed;
    right: 10px; bottom: 10px;
    background-color: red;
    border-radius: 50%;
}

.banner {
    display: flex;
    justify-content: space-between;
    
}

.banner .card{
    width: 384px; height: 580px;
    /* background-color: rgb(200, 200, 200); */
}

.banner .card .imgWrap img{
    height: 450px;
    transition: 0.3s;

}

.banner .card .imgWrap:hover img{
    /* 이미지만을 움직일때 transform 움직임 x -> 0px만큼 y -> -20px만큼 */
    /* transform:translate(0px,-20px) scale(1.1) rotate(10deg); */
    /* transform:translateY(-20px); */
    transform:translate(-20px, -20px);
    box-shadow: 30px 30px 20px rgba(0,0,0,0.2);
    /* box-shadow: x값 y값 블러 */
}

.banner .card .card-text{
    padding: 10px 16px;
}

.banner .card .card-text h3{
    margin-bottom: 10px;
}